<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Living_Dex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Living_Dex.Properties.Settings>
            <setting name="includeGenderVariance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeGMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includePikachuCap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeAlola" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeGalar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeHisui" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includePaldea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeUnown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeDeoxys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeRotom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeDeerlingAndSawsbuck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeTherian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeVivillon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeFlabebeFloetteAndFlorges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeFurfrou" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includePumpkabooAndGourgeist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeZygarde" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeOricorio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeLycanroc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeMinior" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="incluedToxtricityForms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeSinisteaAndPolteageist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeAlcremie" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeUrshifu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeZarude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeUrsaluna" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeMaushold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeSquawkabilly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeTatsugiri" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeDudunsparce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeGimmighoul" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includePoltchageistAndSinistcha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeBurmyAndWormadam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeShaymin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeShellosAndGastrodon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeBasculin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeKeldeo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeHoopa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeMagearna" serializeAs="String">
                <value>False</value>
            </setting>
        </Living_Dex.Properties.Settings>
    </userSettings>
</configuration>